<div class="container mt-4">
  <h1 >Courses</h1>

  <div class="d-flex justify-content-end mb-3">
    <button mat-button (click)="openCreateDialog()" class="btn btn-primary  me-2">
      List Courses
    </button>

    <button mat-button (click)="navigateToInstance()" class="btn btn-secondary">
       Instances
    </button>
  </div>

  <div class="table-responsive">
    <app-dynamic-table
      [displayedColumns]="displayedColumns" [dataSource]="courses"
      (viewDetails)="openDetailsDialog($event.id)" (deleteItem)="deleteCourse($event.id)">
    </app-dynamic-table>
  </div>
</div>
