
<div class="container h-100 d-flex justify-content-center align-items-center" *ngIf="loader">
  <app-loader></app-loader>
</div>

<div *ngIf="!loader && courses" class="container mt-4">
  <h1>Courses</h1>

  <div class="d-flex justify-content-end flex-column flex-md-row align-items-stretch align-items-md-center mb-3">
    <button mat-button (click)="openCreateDialog()" class="btn btn-primary mb-2 mb-md-0 me-md-2">
      List Courses
    </button>

    <button mat-button (click)="navigateToInstance()" class="btn btn-secondary">
      Instances
    </button>
  </div>

  <div class="table-responsive">
    <app-dynamic-table
      [displayedColumns]="displayedColumns" 
      [dataSource]="courses"
      (viewDetails)="openDetailsDialog($event.id)" 
      (deleteItem)="deleteCourse($event.id)">
    </app-dynamic-table>
  </div>
</div>
