<h1 mat-dialog-title>Create New Course</h1>
<div mat-dialog-content>
  <form [formGroup]="courseForm">
    <mat-form-field>
      <label>Title</label>
      <input  formControlName="title" required>
    </mat-form-field>

    <mat-form-field>
      <label>Course Code</label>
      <input  formControlName="course_code" required>
    </mat-form-field>

    <mat-form-field>
      <label>Description</label>
      <textarea  formControlName="description"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button (click)="closeDialog()">Cancel</button>
  <button [disabled]="courseForm.invalid" (click)="createCourse()">Create</button>
</div>
