<h1 mat-dialog-title>Create New Course</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="course.title" name="title" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Course Code</mat-label>
      <input matInput [(ngModel)]="course.course_code" name="course_code" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="course.description" name="description"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="createCourse()">Create</button>
</div>

