<div class="container h-100 d-flex justify-content-center align-items-center" *ngIf="loader">
  <app-loader></app-loader>
</div>

<div *ngIf="!loader && instance" class="container">
    <h1 class=" mb-2">
      {{ instance?.course.title }}
    </h1>
    <h6 class=" mb-4">Semester {{ instance?.semester }} - {{ instance?.year }}</h6>
    <div class="row">
      <div class="col-12 mb-3">
        <div class="detail-item">
          <span class="detail-label">Course Code:</span>
          <span class="detail-value">{{ instance?.course.course_code }}</span>
        </div>
      </div>
      <div class="col-12">
        <div class="detail-item">
          <span class="detail-label">Description:</span>
          <span class="detail-value">{{ instance?.course.description }}</span>
        </div>
      </div>
    </div>
    <div class="row justify-content-end mt-4">
      <div class="col-auto">
        <button mat-button class="btn btn-primary" (click)="closeDialog()">Close</button>
      </div>
    </div>
  </div>
  